.main_container {
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
    padding: 0 20px;
    margin-top: 50px;

    .login_container,
    .singup_container {
        max-width: 500px;
        min-height: 350px;
        flex:1;
        border-radius: 5px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0px 2px 2px rgba(0, 0, 0, 0.15);
        position: relative;        
        padding: 25px;

        h1,h2,h3,h4,h5,h6{
            text-align: center;
            margin-top: 5px;
        }

        .btn_auth {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
        }

        #response_container {
            padding: 10px 20px;
            height: calc(100% - 150px);
            overflow-y: auto;
            word-wrap: break-word;
        }

        .user_title {
            padding: 5px 20px 10px;
        }

        .form-fields {
            max-width: 300px;
            width: 100%;
            height: 300px;
            margin: 0 auto;
            padding: 30px 0 0;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            border-radius: 3px;

            .form-input {
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
                transition: 250ms all ease;
                padding: 10px;
                font-size: .8rem;
                color: #555;
                margin-top: 5px;
                border: 1px solid rgba(0, 0, 0, 0.03);

                &:focus {
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}
