@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: "Roboto", sans-serif;    
    height: 100vh;
    font-size: 1rem;
}

.btn-primary {
    padding: 10px 18px;
    border-radius: 3px;
    background-color: rgb(83, 83, 235);
    color: #fff;    
    cursor: pointer;
    transition: 100ms all ease;
    &:hover {
        background-color: rgb(47, 47, 231);
        box-shadow: 0 0 5px rgba(0,0,0,.3);
    }
}

.btn-disabled {
    pointer-events: none;
    background-color: rgb(126, 126, 126) !important;    
}

.d-none{
    display: none;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}